# Dev
.vscode
**/target/
tauri-overlay/src-tauri/generated/
tauri-overlay/dist/
s2coop-analyzer/generated/
**/node_modules/
.env
.envrc*
tauri-overlay/test-results/

# Per user data
cache_overall_stats.json
cache_overall_stats_pretty.json
cache_overall_stats_temp
settings.json
logs.txt